<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Toko Swalayan</title>
</head>

<body>
  <div class="container">
    <form action="auth/login" class="login-form" method="POST">
      <h2>Selamat Datang di Toko Swalayan</h2>
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Login</button>
    </form>
  </div>
<% if(errors == true){ %>
<script>
  alert("Username atau password salah");
</script>
<% } %>
<% if(typeof(logout) == true){ %>
<script>
  alert("Berhasil Logout");
</script>
<% } %>

</body>

</html>
